<div class="container">
	<div class="row">
		<h3 class="text-center bg-warning col-xs-3">
			<%#= @customer.last_name %>　<%#= @customer.first_name %>さんの会員詳細
		</h3>
	</div>

	<div class="row">
		<div class="col-xs-5">
			<label>顧客ID</label>
			<%= @customer.id %>　
			<%#= form_with model: @customer, url: admin_customer_path(@customer.id), local: true do |f| %>
				<!-- <%#= f.select :is_deleted, [['有効',true],['退会済',false]] %> -->
				<br>
			<%# end %>

			<label>氏名</label>
			<%#= @customer.last_name %>　<%#= @customer.first_name %><br>

			<label>フリガナ</label>
			<%#= @customer.last_name_kana %>　<%#= @customer.first_name_kana %><br>

			<label>郵便番号</label>
			<%#= @customer.postcode %><br>

			<label>住所</label>
			<%#= @customer.address %><br>

			<label>電話番号</label>
			<%#= @customer.phone_number %><br>

			<label>メールアドレス</label>
			<%= @customer.email %><br>

			<%= link_to '編集する', edit_admin_customer_path(@customer.id), class: 'btn btn-info bottom' %>
			<!-- orderができてから -->
			<%= link_to '注文履歴一覧を見る', edit_admin_customer_path(@customer.id), class: 'btn btn-info bottom' %>
		</div>
	</div>
</div>