<div class="container">
	<div class="row">
		<h3 class="text-center bg-warning col-xs-2">管理者画面</h3>
	</div>
	<div class="row">
		<div class="col-xs-5">
			<div class="homes">
				<h3>本日の注文件数　　　　<%= link_to @orders %>件</h3>
			</div>
		</div>
	</div>
</div>