<div class="container">
	<div class="row">
		<div class="col-xs-2">
			<h3 class="text-center a_h_headline">管理者画面</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-5">
			<div class="homes">
				<h3>本日の注文件数　　　　<%#= link_to @orders.count, _path %>件</h3>
			</div>
		</div>
	</div>
</div>