<h1>ジャンル検索</h1>


<p>ようこそ、NaganoCakeへ！</p>
<p>このサイトは、ケーキ販売のECサイトになります。</p>
<p>会員でない方も商品の閲覧はできますが、</p>
<p>購入には会員登録が必要になります。</p>


<h1>オススメ商品</h1>
<p>商品の写真や情報などが一覧で出てくる。（後ほど設定が必要）</p>　<!--後ほど修正が必要仮作成-->
<p>もっと見る（リンクまだ）</p><!--後ほど修正が必要仮作成-->