// Place all the styles related to the admin_orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.a_o_i_headline h3 {
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 30px;
	margin-left: 100px;
	padding: 0 5px;
	background-color: #eee;
}

/*見出し設定*/
.a_o_headline h3 {
	font-size: 20px;
	margin-top: 40px;
	margin-bottom: 60px;
	padding: 0 5px;
	background-color: #eee;
}


/*index表の配置設定*/
.a_order_all {
	margin-left: 100px;
}

/*show表の配置設定*/
.a_o_table {
	font-size: 15px;
	margin-bottom: 40px;
}

.a_o_table td {
	padding-bottom: 10px;
	padding-right: 10px;
}

/*selectの設定*/
select {
	width: 50px;
	height: 30px;
}

