// Place all the styles related to the admin_homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*見出しの設定*/
.a_h_headline {
	font-size: 20px;
	margin-top: 40px;
	margin-left: 50px;
	margin-bottom: 100px;
	padding: 0 5px;
	background-color: #eee;
}