/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";


 body{
 padding-top: 70px;
 }  /*ヘッダーと各ページの位置が被るので被らないように高さ調節*/

 .span_rogo{
 color:white
 }  /*ロゴが見えなかったので、とりあえず白色で設定*/

 .h_gs{
 background-color:#EEEEEE;
 margin-left:80px;
 font-size:150%;
 }  /*サインインアップ画面の各項目の背景色設定（グレー）*/

 .h_gl{
 background-color:#EEEEEE;
 font-size:150%;
 }  /*ログイン画面の各項目の背景色設定（グレー）*/

.h_sign{
margin-left:100px;
 }  /*サインインアップ画面のbody全体*/

 .h_log{
margin-top:100px;
margin-left:300px;
 }  /*ログイン画面のbody全体*/

 
