<div class="col-xs-3" style= "padding-right: 50px;">
	<div class="panel panel-default">
		<div class="panel-heading genre_head">
			<p>ジャンル検索</p>
		</div>

		<!-- ジャンル一覧 -->
		<div class="panel-body">
			<% genres.each do |genre| %>
				<p><%= link_to genre.name, :controller => 'products', :action => 'index', id: genre.id %></p>
			<% end %>
		</div>
	</div>
</div>